name: Node CI Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install yarn
      run: |
        curl -o- -L https://yarnpkg.com/install.sh | bash
    - name: Yarn install, test, and build
      run: |
        yarn install
        yarn test
        yarn build
      env:
        CI: true
